@page "/Add"
@using Models
@using FileData
@using global::Models
@using LoginExample.Data
@using LoginExample.Data.Impl
@using Microsoft.AspNetCore.Components

<div>
    <h3 style="margin:auto; color: white">Add</h3>
    <p style="font-size: 20px;margin: auto; color: white">Enter imformation</p>
    <hr style="border: 2px solid white" />
</div>

<div style="width:40%; margin: 100px auto;" class="main">
    <form style="color: white">
        <div class="a" style="float: left">
            <div>
                <br/>
                <label>FirstName:</label>
                <br/>
                <input style="border-radius: 10px" placeholder="FirstName" @bind="_adult.FirstName"/>
            </div>
            <div> 
                <br/>
                <label>LastName:</label>
                <br/>
                <input style="border-radius: 10px" placeholder="LastName" @bind="_adult.LastName"/>
            </div>
            <div>
                <br/>
                <label>HairColor:</label>
                <br/>
                <input style="border-radius: 10px" placeholder="HairColor" @bind="_adult.HairColor"/>
            </div>
            <div>
                <br/>
                <label>EyeColor:</label>
                <br/>
                <input style="border-radius: 10px" placeholder="EyeColor" @bind="_adult.EyeColor"/>
            </div>
        </div>
        <div class="b" style="float: right">
            <br/>
            <div>
                <label>Age:</label>
                <br/>
                <input style="border-radius: 10px" placeholder="Age" @bind="_adult.Age"/>
            </div>
            <div>
                <br/>
                <label>Weight:</label>
                <br/>
                <input style="border-radius: 10px" placeholder="Weight" @bind="_adult.Weight"/>
            </div>
            <div>
                <br/>
                <label>Height:</label>
                <br/>
                <input style="border-radius: 10px" placeholder="Height" @bind="_adult.Height"/>
            </div>
            <div>
                <br/>
                <label>Sex</label>
                <br/>
                <input style="border-radius: 10px" placeholder="Sex" @bind="_adult.Sex"/>
            </div>
            <br/>
            <br/>
        </div>

        <div class="container mt-3" style="padding-top: 20px; width: 50%">
            <button  type="button" @onclick="save" style="width: 100%;">Save</button>
        </div>
    </form>
</div>




@code {
    private Adult _adult = new Adult();
    private IAdultData iAdultData = new AdultService();
    private IList<Adult> _adults = new List<Adult>();

    public async Task save()
    {
        _adults = await iAdultData.GetAdultsAsync();
        for (int i = 0; i < _adults.Count; i++)
        {
            _adult.Id = i;
        }
        iAdultData.AddAdultAsync(_adult);
    }

}