@page "/ContactUs"

<div>
    <hr style="border: 2px solid white" />
</div>
<br/>
<div class="contact">
        <h1>Contact Information</h1>
        </div>
<form class="ok">
    <div class="connect">
        <a href="https://www.facebook.com/profile.php?id=100040972306409">
            Chenben Facebook
        </a>
    </div>
    <br/><br/>
    <div class="connect">
        <a href="https://outlook.office365.com/mail/inbox">
            Chenben Outlook
        </a>
    </div>
</form>
<br/><br/>
<div class="wish">
    If you have any questions, please contact us!
</div>
<div style="color: deeppink; text-align: center">
    ❤
</div>
@code {
    
}