@page "/Edit"
<hr style="border: 2px solid white" />
<br>

<div class="container mt-3">
  <h3>多个输入框和文本</h3>
  
  <form>
    <div class="input-group mb-3">
      <div class="input-group-prepend" style="right: 20px">
        <span class="input-group-text">FirstName</span>
      </div>
      <input type="text" class="form-control" placeholder="First Name">
      <br>
      <div>
        <span class="input-group-text">LastName</span>
      </div>
      <input type="text" class="form-control" placeholder="Last Name">
    </div>
  </form>
 
  <form>
    <div class="input-group-prepend">

    </div>
  </form>
  
</div>



@code {
    
}