@page "/"

<div>
    <div class="header-1">
                Welcome
            </div>
            <div class="header-2">
                The family is coming soon, are you ready?
            </div>
        </div>
