<AuthorizeView>
    <div class="nav">
            <ul class="nav-ul" style="padding:0;">
                <li class="nav-item">
                    <div class="item-content">
                        <a href="/">
                            Home
                        </a>
                    </div>
                </li>
                
                <li class="nav-item">
                    <div class="item-content">
                        <a href="/add">
                            Add
                        </a>
                    </div>
                </li>
            </ul>
        </div>
</AuthorizeView>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu() {
        collapseNavMenu = !collapseNavMenu;
    }

}