<AuthorizeView>
    <div class="nav">
        <div class="nav-ul">
            <li class="nav-item">
                <div class="item-content">
                    <a href="/">
                        Home
                    </a>
                </div>
            </li>
                
            <li class="nav-item">
                <div class="item-content">
                    <a href="/personList">
                        PersonList
                    </a>
                </div>
            </li>
            
            <li class="nav-item">
                <div class="item-content">
                    <a href="/search">
                        Search
                    </a>
                </div>
            </li>
            
            <li class="nav-item">
                <div class="item-content">
                    <a href="/add">
                        Add
                    </a>
                </div>
            </li>
            
            <li class="nav-item">
                <div class="item-content">
                    <a href="/contactus">
                        Contact us
                    </a>
                </div>
            </li>
            
            <li class="nav-item">
                <div class="item-content">
                    <a href="/edit">
                        Edit
                    </a>
                </div>
            </li>
            
        </div>
    </div>
</AuthorizeView>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu() {
        collapseNavMenu = !collapseNavMenu;
    }

}